@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

header,
footer {
  background-color: orange;
  color: black;
  text-align: center;
}

header h1,
footer h1 {
  padding: 20px 0;
}

header h3,
footer h3 {
  padding: 15px 0;
}

.box-cont {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box-cont .box {
  width: 260px;
  background-color: #fbb7b7;
  border: 2px solid red;
  text-align: center;
  margin: 15px 25px;
  padding: 10px;
}

.box-cont .box h3 {
  text-transform: capitalize;
}

.box-cont .box p {
  margin: 15px 0;
}

.box-cont .box a {
  text-decoration: none;
  font-size: 15px;
  padding: 5px 10px;
  border: 2px solid orange;
  background-color: lightyellow;
  color: black;
  border-radius: 10px;
  font-weight: bold;
}

